@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-font: "Inter";

    --background: 345 6% 12%;
    --foreground: 0 0% 100%;

    --card: 320 4% 17%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 7 82% 57%;
    --primary-foreground: 0 0% 0%;

    --secondary: 38 8% 72%;
    --secondary-foreground: 0 0% 0%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 34 49% 91%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 4% 16%;
    --input: 345 6% 12%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
    @apply font-sans;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .scrollbar-width-none {
    scrollbar-width: none;
  }
}
